<!DOCTYPE html>

<html xmlns:th="htpp://www.thymeleaf.org"
xmlns:sec="htpp://www.thymeleaf.org/extras/spring-security">

	<head th:replace="layout/plantilla :: head">
		<meta charset="UTF-8">
		<title>[[#{titulo-inicio}]]</title>
	</head>	
	
	<body>
		<header th:replace="layout/plantilla :: header"></header> <!-- Para traer una plantilla :: el componente especifico -->
		<section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
		<section th:replace="layout/agregarCliente :: agregarCliente"></section>
		<section th:replace="layout/listadoClientes :: listadoClientes"></section>						
	</body>		
	
	<footer th:replace="layout/plantilla :: footer"></footer>
	
</html>