<!DOCTYPE html>

<html xmlns:th="htpp://www.thymeleaf.org"
xmlns:sec="htpp://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>		
	</head>
	
	<body>
	<h1>Login</h1>
	<hr>
	<form method="POST" th:action="@{login}">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username">
	<br>
	<label for="password">Password:</label>
	<input type="password" name="password" id="password">
	<br>
	<h3><input type="submit" value="Login"></h3> <!-- Logea al usuario Spring Segurity -->
	</form>
	</body>
</html>